doctype html
html
    head
        title Simple web studio
        link(rel='stylesheet', href='/css/main.css')
    body
        header
           img(src='/img/logo.jpg')
           h1 Web-studio
        aside
            nav
                a(href='/') About us
                a(href='projects.html') Projects
                a(href='contacts.html') Contacts
            article
       block main
    footer
        p 2014 &copy;Web-studio